SPRING_DATASOURCE_URL=jdbc:sqlserver://localhost:1433;databaseName=TU_DBA;encrypt=true;trustServerCertificate=true
SPRING_DATASOURCE_USERNAME=TU_USUARIO
SPRING_DATASOURCE_PASSWORD=TU_PASSWORD
SPRING_DATASOURCE_DB=TU_DBA
TOKEN_JWT_SECRET=mi_clave_super_larga_y_segura_1234567890_abcd
ADMIN_PASSWORD=TU_ADMIN_PASSWORD