SPRING_DATASOURCE_URL=jdbc:postgresql://localhost:5432/TU_DBA
SPRING_DATASOURCE_USERNAME=TU_USUARIO
SPRING_DATASOURCE_PASSWORD=TU_PASSWORD
SPRING_DATASOURCE_DB=TU_DBA
TOKEN_JWT_SECRET=mi_clave_super_larga_y_segura_1234567890_abcd
ADMIN_PASSWORD=TU_ADMIN_PASSWORD